<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-6 col-md-3">
                <div class="footer-col-inner">
                    <h3 class="col-title">About</h3>
                    <ul class="footer-menu list-unstyled">
                        <li><a href="javascript:">Company</a></li>
                        <li><a href="javascript:">Blog</a></li>
                        <li><a href="javascript:">Jobs</a> <span class="badge badge-success">We're hiring</span></li>
                        <li><a href="javascript:">Press</a></li>
                        <li><a href="javascript:">Contact</a></li>
                    </ul>
                </div><!--//footer-col-inner-->
            </div><!--//footer-col-->
            <div class="footer-col col-6 col-md-3">
                <div class="footer-col-inner">
                    <h3 class="col-title">Product</h3>
                    <ul class="footer-menu list-unstyled">
                        <li><a href="javascript:">Features</a></li>
                        <li><a href="javascript:">Tutorials</a></li>
                        <li><a href="javascript:">Support Center</a></li>
                        <li><a href="javascript:">Pricing</a></li>
                        <li><a href="javascript:">Customers</a></li>
                    </ul>
                </div>
            </div><!--//footer-col-->
            <div class="footer-col col-6 col-md-3">
                <div class="footer-col-inner">
                    <h3 class="col-title">Useful Links</h3>
                    <ul class="footer-menu list-unstyled">
                        <li><a href="javascript:">Sign up</a></li>
                        <li><a href="javascript:">Login</a></li>
                        <li><a href="javascript:">Become our partner</a></li>
                        <li><a href="javascript:">FAQs</a></li>
                    </ul>
                </div>
            </div><!--//footer-col-->
            <div class="footer-col col-6 col-md-3">
                <div class="footer-col-inner">
                    <h3 class="col-title">Legal</h3>
                    <ul class="footer-menu list-unstyled">
                        <li><a href="javascript:">Privacy</a></li>
                        <li><a href="javascript:">Terms of Services</a></li>
                        <li><a href="javascript:">Policies</a></li>
                    </ul>
                </div>
            </div><!--//footer-col-->
        </div><!--//row-->
        <div class="divider"></div>
        <div class="footer-bottom text-center">
            <ul class="social-media list-inline">
                <li class="list-inline-item"><a href="javascript:"><i class="fab fa-twitter" ></i></a></li>
                <li class="list-inline-item"><a href="javascript:"><i class="fab fa-facebook-f" ></i></a></li>
                <li class="list-inline-item"><a href="javascript:"><i class="fab fa-google-plus-g" ></i></a></li>
                <li class="list-inline-item"><a href="javascript:"><i class="fab fa-instagram" ></i></a></li>
                <li class="list-inline-item"><a href="javascript:"><i class="fab fa-vimeo-v" ></i></a></li>
            </ul>

            <small class="copyright">
                Made with
                <i class="fa fa-heart" />
                by &nbsp;
                <a href="https://company.com/" target="_blank">Company Team</a>
            </small>
        </div>
    </div><!--//container-->
</footer><!--//footer-->

<style>
    .copyright .fa {
        color: #fff3cd;
    }
</style>
